---
import LayoutStacked from '../../app/layouts/LayoutStacked.astro';
import FormForgotPassword from '../../modules/forms/FormForgotPassword.astro';
---

<LayoutStacked>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormForgotPassword />
	</div>
</LayoutStacked>
