---
import LayoutStacked from '../../app/layouts/LayoutStacked.astro';
import FormResetPassword from '../../modules/forms/FormResetPassword.astro';
---

<LayoutStacked>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormResetPassword />
	</div>
</LayoutStacked>
