---
import LayoutStacked from '../../app/layouts/LayoutStacked.astro';
import FormSignUp from '../../modules/forms/FormSignUp.astro';
---

<LayoutStacked>
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormSignUp />
	</div>
</LayoutStacked>
